{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}Gestion Exercices{% endblock %}

{% block content %}
    <h1>Gestion Exercices</h1>
    <p>Entities: Session, Exercice, Progression, Todo.</p>
{% endblock %}
