{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}Gestion Exercices{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Administration',
            title: 'Gestion Exercices',
            copy: 'Entities: Session, Exercice, Progression, Todo.'
        }) }}
    </div>
{% endblock %}
