{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}Gestion Objectifs Personnelles{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Administration',
            title: 'Gestion Objectifs Personnelles',
            copy: 'Entities: Jalonprogression, Objectif, Planificateurintelligent, Planaction.'
        }) }}
    </div>
{% endblock %}
