{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}Gestion Objectifs Personnelles{% endblock %}

{% block content %}
    <h1>Gestion Objectifs Personnelles</h1>
    <p>Entities: Jalonprogression, Objectif, Planificateurintelligent, Planaction.</p>
{% endblock %}
