{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}Mes Objectifs{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Front Office',
            title: 'Mes Objectifs',
            copy: 'Entities: Jalonprogression, Objectif, Planificateurintelligent, Planaction.'
        }) }}
    </div>
{% endblock %}
