{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}Mes Objectifs{% endblock %}

{% block content %}
    <h1>Mes Objectifs</h1>
    <p>Entities: Jalonprogression, Objectif, Planificateurintelligent, Planaction.</p>
{% endblock %}
