{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}Gestion Suivi Habitudes{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Administration',
            title: 'Gestion Suivi Habitudes',
            copy: 'Entities: Habitude, Rappel_habitude, Suivihabitude.'
        }) }}
    </div>
{% endblock %}
