{% extends 'base.html.twig' %}

{% block title %}Admin - {% block page_title %}MindTrack{% endblock %}{% endblock %}

{% block body %}
    {% include 'shared/_navbar.html.twig' with { office: 'admin' } %}

    <div class="container-fluid">
        <div class="row">
            <!-- Menu latéral -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_dashboard') }}">
                                <i class="bi bi-speedometer2"></i> Dashboard
                            </a>
                        </li>
                        
                        <hr class="my-3">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_gestion_exercices_index') }}">
                                <i class="bi bi-file-text"></i> Exercices
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('admin_sessions_index') }}">
                                <i class="bi bi-clock-history"></i> Sessions
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_gestion_user_index') }}">
                                <i class="bi bi-people"></i> Gestion User
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Contenu principal -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
