{% extends 'base.html.twig' %}

{% block title %}Front - {% block page_title %}MindTrack{% endblock %}{% endblock %}

{% block body %}
    {% include 'shared/_navbar.html.twig' with { office: 'front' } %}

    <main class="page-shell">
        <div class="app-shell">
            <section class="page-card">
                {% block content %}{% endblock %}
            </section>
        </div>
    </main>
<<<<<<< HEAD

    {% block floating_widgets %}{% endblock %}
=======
    {% block javascripts %}{% endblock %}
>>>>>>> origin/GestionObjectifsPersonnelles
{% endblock %}
