{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}Gestion User{% endblock %}

{% block content %}
    <h1>Gestion User</h1>
    <p>Entities: Utilisateur, Profilpsychologique, Password_reset_tokens.</p>
{% endblock %}
