{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}Mon Profil{% endblock %}

{% block content %}
    <h1>Mon Profil</h1>
    <p>Entities: Utilisateur, Profilpsychologique, Password_reset_tokens.</p>
{% endblock %}
