{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}Mes Exercices{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Front Office',
            title: 'Mes Exercices',
            copy: 'Entities: Session, Exercice, Progression, Todo.'
        }) }}
    </div>
{% endblock %}
