{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}Mes Exercices{% endblock %}

{% block content %}
    <h1>Mes Exercices</h1>
    <p>Entities: Session, Exercice, Progression, Todo.</p>
{% endblock %}
