{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}Mon Humeur{% endblock %}

{% block content %}
    <h1>Mon Humeur</h1>
    <p>Entities: Journalemotionnel, Humeur.</p>
{% endblock %}
