{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}Edit Journal{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Mood',
            title: 'Edit journal entry',
            copy: 'Update this journal entry.'
        }) }}

        {{ component('FlashStack') }}

        {% include 'admin/gestion_humeur/journalemotionnel/_form.html.twig' with {
            form: form,
            button_label: 'Update journal'
        } only %}

        <div class="button-row">
            <a class="btn-secondary" href="{{ path('front_gestion_humeur_journal_index') }}">Back to list</a>
        </div>
    </div>
{% endblock %}
