{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}New Humeur{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Mood',
            title: 'Add a mood entry',
            copy: 'Record how you feel today.'
        }) }}

        {{ component('FlashStack') }}

        {% include 'admin/gestion_humeur/humeur/_form.html.twig' with {
            form: form,
            button_label: 'Save entry'
        } only %}

        <div class="button-row">
            <a class="btn-secondary" href="{{ path('front_gestion_humeur_index') }}">Back to list</a>
        </div>
    </div>
{% endblock %}
