<form method="post" action="{{ delete_path }}" onsubmit="return confirm('Are you sure you want to delete this humeur entry?');">
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <button class="button-danger" type="submit">{{ button_label }}</button>
</form>
