{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}Gestion Humeur{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Administration',
            title: 'Gestion Humeur',
            copy: 'Entities: Journalemotionnel, Humeur.'
        }) }}
    </div>
{% endblock %}
