{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}Gestion Humeur{% endblock %}

{% block content %}
    <h1>Gestion Humeur</h1>
    <p>Entities: Journalemotionnel, Humeur.</p>
{% endblock %}
