{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %}New Humeur{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Administration',
            title: 'Create humeur',
            copy: 'Add a new mood entry to the system.'
        }) }}

        {{ component('FlashStack') }}

        {% include 'admin/gestion_humeur/humeur/_form.html.twig' with {
            form: form,
            button_label: 'Create humeur'
        } only %}

        <div class="button-row">
            <a class="btn-secondary" href="{{ path('admin_gestion_humeur_index') }}">Back to list</a>
        </div>
    </div>
{% endblock %}
