{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}Mes Habitudes{% endblock %}

{% block content %}
    <div class="page-stack">
        {{ component('PageHeader', {
            eyebrow: 'Front Office',
            title: 'Mes Habitudes',
            copy: 'Entities: Habitude, Rappel_habitude, Suivihabitude.'
        }) }}
    </div>
{% endblock %}
