{% extends 'layouts/front_base.html.twig' %}

{% block page_title %}Mes Habitudes{% endblock %}

{% block content %}
    <h1>Mes Habitudes</h1>
    <p>Entities: Habitude, Rappel_habitude, Suivihabitude.</p>
{% endblock %}
